.article {
    position: relative;
    
}

.article__card {
    width: 100%;
    height: 25rem;
    margin: 0 auto;
    color: black;

    border: 1px solid black;
    border-radius: 10px;

    display: grid;

    position: relative;
}

.article__img img {
    position: absolute;
    
    width: 100%;
    height: 60%;
    border-radius: 10px;

    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.article__card div {
    margin: 0 auto;
    overflow: hidden;
}

.article__card-title {
    
    justify-self: end;
}