.article {
    position: relative;
}

h2 {
    margin: 0;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px black;
}

@media screen and (min-width:768px) {
    .article__box-cards {
        width: 100%;
        display: grid;

        grid-template-columns: repeat(2, 1fr);

        column-gap: 2rem;
    }
}

@media screen and (min-width:1200px) {
    .article__box-cards {
        width: 100%;
        display: grid;

        grid-template-columns: repeat(3, 1fr);

        column-gap: 2rem;
    }
}

.article__card {
    
    height: 25rem;
    margin: 1.5rem auto;
    color: black;

    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;

    position: relative;

    display: flex;
    flex-direction: column;
    
    overflow: hidden;

    transition: .3s ease-in-out ;
}

.article__card:hover {
    box-shadow: 5px 5px 5px black;
}

.article__card img {
    height: 50%;
    object-fit: cover;   
}

.article__card div {
    width: 95%;
    margin: 0 auto;
}

