/* header imagem de fundo         */

.main__header {
  width: 100vw;
  height: 90vh;
  background-image: url("../img/marc-olivier-jodoin-BG9oZ15a4Xk-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  position: absolute;
  top: 0;

  z-index: 0;

  animation: images 50s normal infinite;
  transition: background 0.2s ease-in-out;
}

@keyframes images {
  33% {
    background-image: url("../img/fineas-anton-VV_AtjLknlA-unsplash.jpg");
  }
  66% {
    background-image: url("../img/mojibullah-shahir-SXeu2Cps5vM-unsplash.jpg");
  }
}

.main__header-opacity {
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(87, 87, 87, 0.658), rgba(0, 0, 0, 0.938));

  opacity: 0.8;
}

/*  texto e imagem do predio   */

.main__section {
  width: 80%;
  height: 50vh;

  margin: 5rem auto;
  position: relative;

  display: grid;
  place-items: center;
  border-radius: 4px;
  box-shadow: 5px 2px 2px black;
  background: var(--color-primary);

  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .main__section {
    width: 30%;
    min-width: 30rem;
  }
}

.main__section img {
  width: 12rem;
  height: 12rem;
  align-self: flex-end;
}

.main__section p {
  align-self: flex-start;
  color: #ccc;
  font-size: 1.7rem;
  font-weight: 600;

  text-shadow: 1px 1px 1px #000;
  text-align: center;
}
