@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

:root {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

body,
h1,
ul,
li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
/*   container base       */
.container {
  width: 80%;
  max-width: 90%;
  margin: 0 auto;
}

/*   navegação       */

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  position: relative;
  z-index: 1;
}

.header__nav ul {
  position: absolute;
  top: 0;
  width: 80%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.541);
  color: #ccc;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-left: 2rem;
  visibility: hidden;
  overflow: visible;
}

@media screen and (min-width: 768px ) {
  .header__nav ul {
    background: none;
    color: black;
  }
}

.header__nav ul li {
  cursor: pointer;
  margin-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
  font-size: 1.2rem;
  text-transform: capitalize;
}
/*   classe setada via JS para o navbar toggle     */
.visible {
  visibility: visible !important;
  
  animation: move 300ms ease-in-out;
}

/*   animação do menu mobile aparecendo ao clicar      */
@keyframes move {
  from {
    transform: translateY(-200%);
  }
  to {
    transform: translateY(0);
  }
}
/*   media querie da navegação para desktop     */
@media screen and (min-width: 768px) {
  .header__nav ul {
    position: unset;
    width: unset;
    height: unset;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    visibility: unset;
  }
}

.header__icon-bars {
  position: absolute;
  right: 0;
  font-size: 1.5rem;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .header__icon-bars {
    display: none;
  }
}

/* header imagem de fundo         */

.main__header {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/marc-olivier-jodoin-BG9oZ15a4Xk-unsplash.jpg");
  background-size: cover;

  position: absolute;
  top: 0;

  z-index: 0;
}
.main__header-opacity {
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(87, 87, 87, 0.719), #000);

  opacity: 0.8;
}
